*{
    box-sizing: border-box;
}

#inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("imgs/fondoinicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#inicio .image img{
    width: 100vh;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

#inicio .content h3{
    font-size: 5.5rem;
    color: white;
    text-transform: uppercase;
    margin: 0px 0px;
    padding-left: 60px;
}

#inicio .content h4{
    font-size: 2.5rem;
    color: rgb(231, 219, 254);
    margin: 0px 0px;
    padding-left: 60px;

}

#inicio .content p{
    font-size: 1.7rem;
    padding: 1rem 0;
    color: white;
    padding-left: 60px;

}

#inicio .content ul li{
    color: white;
    font-size: 1.3rem;
    padding: 1rem 0;
    font-weight: bold;
    margin-left: 60px;
   
}

@media (max-width:730px){
    #inicio{
        flex-flow: column-reverse;
    }

    #inicio .image img{
        width: 100%;

    }

    #inicio .content h3{
        font-size: 3.6rem;
        padding-left: 60px;
    }
    #inicio .content p{
        font-size: 1.5rem;
        padding-left: 60px;
    }




}