body{
    background-color: aliceblue;
    margin:  30px;
}
.titu{
    text-align: center;
    font-size: 60px;
    margin-bottom: 0%;
    margin-top: 0%;
    color: forestgreen;
    
}

.info{
    margin-top: 0%;
    font-family: monospace;
    font-size: x-large;
    position: fixed;
    align-items: flex-end;
    

}
.ani{
    animation-delay: 0ms;
    animation-direction: normal;
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-name: ey;
    
}
@keyframes ey{
    from{margin-top: 100%;}
    to{margin-top: 0%;}
    
}
li{
    margin-left: 30px;
    list-style-image: url(imgs/flecha.png);
    padding-bottom: 1rem;
    color: cornflowerblue;

}
.img{
    float: right;
    margin-top: 6%;
    margin-right: 10%;
    margin-left: 50%;
    

}
.aniapar{
    animation-delay: 0ms;
    animation-direction: normal;
    animation-duration: 3s;
    animation-iteration-count: initial;
    animation-name: jo;
}
@keyframes jo{
    from{opacity: 0; 
    margin-left: 100%;}
    to{opacity: 1;
    margin-left: 0%;}
}