h1{
    font-family:monospace;
    font-size: 50px;
    color:rgb(100, 92, 215);
    text-align: center;
    font-weight:bold;
}

.fondo{
    background-image: url(imgs/fondomo.png);
    background-repeat: no-repeat;
    background-position: 100% 200%;
    position:relative;
}
.ani2{
    animation-duration: 3s;
    animation-name: apear1;
    animation-iteration-count:initial;
    animation-direction:normal;
}

@keyframes apear1{
    from{
    opacity: 0;
    }
    to{
    opacity: 1;
    }
}

.todo{
    width: 100%;
    align-content:center;
    position: relative;
    justify-content: center;
}

.foto{
    left: 33.8%;
    width: 450px;
    height: 450px;
    position: relative;
    filter: blur(5px);
}

.foto:hover{
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.45);
    -o-transform: scale(1.45);
    -ms-transform: scale(1.45);
    transform: scale(1.45);
    box-shadow: 10px 30px 30px 30px  #999;
    filter: blur(0);
    transition-duration: s;
}

.foto, foto:hover, .todo, .todo:hover {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}